
h1{
    text-align: center;
    border: 1px solid black;
    width: 100%;
    height: 50px;
    padding: 0%;
    margin: 0%;
    background-color: rgb(119, 134, 148);
    border-style: hidden;

}
.intro{
    border: 1px solid black;
    margin: 50px 40px 40px 40px;
    padding: 10px;
    background-color: silver;
    font-style: oblique;
    border-style: hidden;
}
.Ingredients{
    border: 1px solid black;
    margin: 50px 40px 40px 40px;
    padding: 10px;
    background-color:silver;
    font-style: oblique;
    border-style: hidden;
}
.Instructions{
    border: 1px solid black;
    margin: 50px 40px 40px 40px;
    padding: 50px;
    padding-top: 10px;
    background-color:silver;
    font-style: oblique;
    border-style: hidden;
}